$min-width: 320px;
$max-width: 1472px;
$max-width-container: 1552;
$lg: 1199.98px;
$lmd: 991.98px;
$md: 767.98px;
$sd: 479.98px;

:export {
    lg: 1199.98;
    lmd: 991.98;
    md: 767.98;
    sd: 479.98;
}
